<nav class="upper">
  <ul role="navigation">
      <li class="logo">
        <i class="material-icons">language</i>
        <span>Global Corp</span>
      </li>
      <li class="user">
        <span>Justin B</span>
        <img src="../assets/avatar-jb.png" alt="Justin Bartlett avatar" />
      </li>
      <li>
        <i class="material-icons">input</i>
      </li>
    </ul>
</nav>

<nav class="lower">
  <ul role="navigation">
    <li class="active">Dashboard</li>
    <li>Incidents</li>
    <li>Endpoints</li>
    <li>Settings</li>
    <li class="search">
      <i class="material-icons">search</i>
    </li>
  </ul>
</nav>