<div class="chart-size" (window:resize)="onResize()">
  <svg class="bar-chart">
    <defs>
        <linearGradient id="Gradient1" x1="0%" x2="100%" y1="0%" y2="100%">
          <stop class="start" offset="0%" stop-color="#88b4ff" stop-opacity="1"></stop>
          <stop class="end" offset="100%" stop-color="#5a83ef" stop-opacity="1"></stop>
        </linearGradient>
        <linearGradient id="Gradient2" x1="0%" x2="100%" y1="0%" y2="100%">
          <stop class="start" offset="0%" stop-color="#c487ff" stop-opacity="1"></stop>
          <stop class="end" offset="100%" stop-color="#915bef" stop-opacity="1"></stop>
        </linearGradient>
    </defs>
  </svg>
</div>